#slideShow {
    width: 1800px;
    margin: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#slides > img {
    width: 100%;
    float: left;
    height: 100%;
    object-fit: cover;
}

#slides > button {
    position: absolute;
    height: 100%;
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent;
    color: #000;
    font-size: 24px;
    opacity: 0.5;
}
#prev {
    left: 0;
}

#next {
    right: 0;
}
#slide > button:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}

#slide > button:focus {
    outline: 0;
}

