@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Merienda:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300&display=swap');

@media (min-width: 1240px) {
    .major_bottom_content {
        margin-top: 10px;
        padding: 32px 40px;
        border: 1px solid #e5e5e5;
        background-position: 95% bottom;
        background-size: auto 78%;
        background-color: #f8f8f8;
        color: darkslategray;
    }
}

.major_bottom_content {
    background-repeat: no-repeat;
    word-break: keep-all;
}

div {
    display: block;
}

@media (min-width: 1240px) {
    .department_title {
        margin-bottom: 40px;
    }
}

.bottom_box_text {
    color: darkslategray;
}

