@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Merienda:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#kakaoLogin {
    position: absolute;
    right: 20px; /* 필요한 대로 오른쪽 위치 조정 */
    top: 10px; /* 필요한 대로 상단 위치 조정 */
    z-index: 3; /* 다른 콘텐츠 위에 나타나도록 설정 */
}

#kakaoLoginButton {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 3;
}

#kakaoLoginButton button {
    background-color: darkgrey; /* 버튼의 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    padding: 10px 20px; /* 버튼 패딩 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

#kakaoLoginButton button:hover {
    background-color: rgb(61, 61, 61);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 기본 스타일 */
#container {
    margin: auto;
    max-width: auto;
    overflow: hidden;
}

#menuBar {
    background-color: #1a66b2;
    padding: 10px;
    position: relative; /* 상대 위치로 변경 */
    z-index: 2; /* 다른 요소 위에 나타나도록 설정 */
}

#menuButton:hover {
    background-color: rgba(128, 128, 128, 0.632);
}

header {
    width: 100%;
    height: 100px;
    background-color: #0b9fed;
    position: relative;
}

/* 로고 영역 */
#logo {
    float: left;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

#logo img {
    max-height: 100%;
}

#logo h1 {
    font-family: 'Noto Sans Korean', cursive;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}

nav {
    float: right;
    width: 100%;
    height: auto; /* 높이 자동 조정 */
    padding-top: 10px; /* 더 작은 패딩 */
}

/* 메뉴 스타일 조정 */
#topMenu {
    display: flex;
    align-items: center;
    padding: 10px; /* 메뉴 주변에 간격 추가 */
    border-radius: 5px; /* 모서리 둥글게 만들기 */
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    left: 400px;
}

#topMenu>li {
    margin-right: 10px;
    position: relative;
}

#topMenu>li>a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px #07c;
    padding: 10px 20px; /* 패딩 조절 */
    margin-top: 0;
}

#topMenu>li>a>span {
    font-size: 0.5em;
}

#topMenu>li>ul {
    display: none;
    position: absolute;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    left: 0; /* 수정된 위치 설정 */
    top: 100%; /* 하위 메뉴가 상위 메뉴 아래에 표시 */
    padding: 5px;
}

#topMenu>li>ul>li {
    padding: 10px 10px 10px 20px; /* 패딩 조절 */
}

#topMenu>li>ul>li>a {
    font-size: 14px;
    padding: 10px;
    color: #000;
}

#topMenu>li:hover>ul {
    display: block;
}

#topMenu>li>ul>li>a:hover {
    color: #f00;
}

/* 반응형 스타일 */

/* 1024px일때 */
@media (max-width: 1024px) {
    #topMenu {
        flex-direction: row; /* 가로로 배치되도록 수정 */
        margin-top: 0;
    }

    #topMenu > ul {
        margin-left: 30px;
    }

    #topMenu > li {
        margin: 0 10px; /* 간격을 조절하세요. */
    }

    #topMenu > li > a {
        padding: 10px;
        display: block;
        vertical-align: middle; /* 텍스트를 가운데로 정렬 */
        position: relative;
        z-index: 1; /* a 태그를 앞에 표시 */
    }

    #menuBar {
        background-color: #1A66B2;
        padding: 10px;
        position: relative;
    }

    #topMenu > li > ul {
        position: static;
        width: 100%;
        display: none;
    }

    #topMenu > li:hover > ul {
        display: none;
    }

    /* 하위 메뉴를 토글할 버튼을 추가합니다. */
    #menuToggleButton {
        display: block;
        background-color: #1A66B2;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
        z-index: 2; /* 버튼을 a 태그 위에 표시 */
    }
}


/* 768px일때 */
@media (max-width: 768px) {
    #topMenu {
        flex-direction: column;
        margin-top: 50px;
        display: block; /* 작은 화면에서 메뉴를 세로로 표시합니다. */
        position: static; /* 고정 위치 제거 */
    }

    #topMenu>li {
        margin: 5px 0;
    }

    #topMenu>li>a {
        padding: 10px;
    }

    #menuBar {
        background-color: #1A66B2;
        padding: 10px;
        position: relative; /* 고정 위치 제거 */
        height: calc(100px + 50px); /* 높이를 100px + 50px로 늘립니다. */
    }

    #topMenu>li>ul {
        position: static;
        width: 100%;
        display: none; /* 기본적으로 하위 메뉴를 숨깁니다. */
    }

    #topMenu>li:hover>ul {
        display: none; /* 하위 메뉴를 처음에는 숨기도록 이 부분을 'none'으로 변경합니다. */
    }

    /* 하위 메뉴를 토글할 버튼을 추가합니다. */
    #menuToggleButton {
        display: block;
        background-color: #1A66B2;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }
}