/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);



/*** VARIABLES ***/
/* Colors */
$black: #2F4F4F;
$blue: #1a66b2;
$green: #0b9fed;
$yellow: #83e4e2;
$white: #fafafa;



/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}



/*** STYLE ***/
*,
*:before,
*:after {
  color: #2F4F4F;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #2F4F4F;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Raleway', sans-serif;
  color: #2F4F4F;
}


ol.gradient-list {
  counter-reset: key 0;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  color: #2F4F4F;
  > li {
    color: #2F4F4F;
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 0%, $green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
      color: #2F4F4F;
    }
    &::before {
      color: #2F4F4F;
      align-items: flex-end;
      @extend %boxshadow;
      content: counter();
      color: $black;
      display: flex;
      font: 900 1.5em/1 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        counter-increment: key 1;
      }
      &:nth-child(#{$i}):before {
        background: linear-gradient(135deg, rgba($green, ($i - 1) * 0.2) 0%, rgba($yellow, ($i - 1) * 0.2) 100%);
      }
    }
    
    @for $i from 6 through 10 {
      &:nth-child(#{$i}) {
        counter-increment: key 1;
      }
      &:nth-child(#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 6) * 0.2)) 0%, rgba($yellow, 1 - (($i - 6) * 0.2)) 100%);
      }
    }
    
    + li {
      color: #2F4F4F;
      margin-top: 2rem;
    }
  }
}
.key{
      color: $black;
      font: 900 1.5em/1 'Montserrat';
      position: relative;
      right: 35px;
      bottom: 8px;
      z-index: 1;
      
}





