@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Merienda:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300&display=swap');

/* container */
@media (min-width: 1240px){
    .container{width: 1240px;margin: 0 auto;}
}
@media (max-width: 1239px) and (min-width: 768px){
    .container{width: 100%;box-sizing: border-box;padding-left: 20px;padding-right: 20px;}
}
@media (max-width: 767px){
    .container{position: relative;width: 100%;box-sizing: border-box;padding-left: 15px;padding-right: 15px;}
}


@media (max-width: 767px) {
    .mobile_hide {display: none !important;}
    .mobile_show {}
    .tablet_show {display: none !important;}
    .pc_show {display: none !important;}
}
@media (min-width: 768px) and (max-width: 1239px) {
    .tablet_hide {display: none !important;}
    .mobile_show {display: none !important;}
    .tablet_show {}
    .pc_show {display: none !important;}
}
@media (min-width: 1240px) {
    .pc_hide {display: none !important;}
    .mobile_show {display: none !important;}
    .tablet_show {display: none !important;}
    .pc_show {}
}

/* 초기화 */
#wrapper{color: #2F4F4F;;font-family: 'notokr-regular',Sans-Serif;}

button{border: none;padding: 0;outline: none;}

h1,h2,h3,h4{margin: 0;font-weight: normal;}

ul{margin: 0;padding: 0;}

body{overflow-x: hidden;}

button {cursor:pointer ;}

/* 기본 틀 */
@media (min-width: 1240px){
    #wrapper{font-size: 16px;line-height: 31px;letter-spacing: -0.32px;}
}
@media (max-width: 1239px) and (min-width: 768px){
    #wrapper{font-size: 14px;line-height: 24px;letter-spacing: -0.24px;}
}
@media (max-width: 767px){
    #wrapper{font-size: 14px;line-height: 24px;letter-spacing: -0.24px;}
}

/* 스케쥴 : 레이아웃 */
@media (min-width: 1240px){
    #schedule{}
}
@media (max-width: 1240px) and (min-width: 768px){
    #schedule{}
}
@media (max-width: 767px){
    #schedule{}
}

/* 스케쥴 : 해더 */
#schedule .scd_header{font-size: 0;position: relative;}
#schedule .scd_header .scd_header_title{font-family: 'notokr-bold', Sans-Serif;vertical-align: top;}
#schedule .scd_header .scd_header_ment{color: #707070;vertical-align: top;}
#schedule .scd_header .scd_header_more{color: #707070;position: absolute;right: 0;cursor: pointer;background-repeat: no-repeat;background-size: contain;background-position: right;}

@media (min-width: 1240px){
    #schedule .scd_header{margin-bottom: 40px;}
    #schedule .scd_header .scd_header_title{font-size: 36px;line-height: 36px;display: inline-block;}
    #schedule .scd_header .scd_header_ment{font-size: 16px;line-height: 36px;margin-left: 30px;display: inline-block;}
    #schedule .scd_header .scd_header_more{background-position-x: 57px;font-size: 16px;line-height: 20px;padding-right: 34px;top: 8px;}
}
@media (max-width: 1240px) and (min-width: 768px){
    #schedule .scd_header{margin-bottom: 30px;}
    #schedule .scd_header .scd_header_title{font-size: 30px;line-height: 30px;display: inline-block;}
    #schedule .scd_header .scd_header_ment{font-size: 14px;line-height: 30px;margin-left: 20px;display: inline-block;}
    #schedule .scd_header .scd_header_more{font-size: 14px;line-height: 16px;padding-right: 24px;top: 7px;}
}
@media (max-width: 767px){
    #schedule .scd_header{margin-bottom: 30px;}
    #schedule .scd_header .scd_header_title{font-size: 24px;line-height: 24px;}
    #schedule .scd_header .scd_header_ment{font-size: 14px;line-height: 14px;margin-top: 20px;}
    #schedule .scd_header .scd_header_more{font-size: 14px;line-height: 16px;padding-right: 24px;top: 4px;}
}


/* 스케쥴 : 컨텐츠 레이아웃 */
#schedule .scd_content .scd_content_list{width: 100%;}

@media (min-width: 1240px){
    #schedule .scd_content .scd_content_list{display: table;table-layout: fixed;}
    #schedule .scd_content .scd_content_list .scd_content_item{display: table-cell;vertical-align: top;-webkit-box-sizing: border-box;box-sizing: border-box;height: 250px;padding: 40px 30px;border: 1px solid #e5e5e5;border-right: none;position: relative;}
    #schedule .scd_content .scd_content_list .scd_content_item:last-child{border-right: 1px solid #e5e5e5;}
}
@media (max-width: 1240px) and (min-width: 768px){
    #schedule .scd_content{overflow-x: scroll;}
    #schedule .scd_content::-webkit-scrollbar{width: calc(100vw - 40px);height: 2px;background-color: #e5e5e5;}
    #schedule .scd_content::-webkit-scrollbar-thumb{background-color: #51c2ff;}
    #schedule .scd_content::-webkit-scrollbar-track {background-color: #e5e5e5;}
    #schedule .scd_content .scd_content_list{min-width: 1100px;font-size: 0;margin-bottom: 20px;}
    #schedule .scd_content .scd_content_list .scd_content_item{display: inline-block;vertical-align: top;-webkit-box-sizing: border-box;box-sizing: border-box;width: 220px;height: 220px;padding: 30px 20px;border: 1px solid #e5e5e5;border-right: none;position: relative;}
    #schedule .scd_content .scd_content_list .scd_content_item:last-child{border-right: 1px solid #e5e5e5;}
    #schedule .scd_content .scd_content_list .scd_content_item.today{background-color: #51c2ff;border: none;color: #ffffff;}
    #schedule .scd_content .scd_content_list .scd_content_item.today::before{content: "";position: absolute;top: 0;right: -1px;height: 100%;width: 1px;z-index: 1;background-color: #51c2ff;}
}
@media (max-width: 767px){

}



/* 스케쥴 : 컨텐츠 내부 */
#schedule .scd_content_item {position: relative;}
@media (min-width: 1240px){
    #schedule .scd_content_item .scd_content_item_bg{background-repeat: no-repeat;background-position: left bottom;width: 100%;height: 100%;position: absolute;top:0;left:0;}
    #schedule .scd_content_item .scd_content_top{font-size: 0;position: relative;margin-bottom: 22px;}
    #schedule .scd_content_item .scd_content_top .scd_cotent_day{display: inline-block;vertical-align: top;line-height: 36px;font-size: 26px;font-family: 'NS-B',Sans-Serif;color: #000000;}
    #schedule .scd_content_item .scd_content_top .scd_cotent_day .scd_content_week{line-height: 36px;font-size: 16px;font-family: 'notokr-regular',Sans-Serif;margin-left: 16px;color: #aaaaaa;}
    #schedule .scd_content_item .scd_content_top .scd_content_weather {position: absolute;width: 36px;height: 36px;background-size: contain;background-repeat: no-repeat;right: 0;top: 0;}
    #schedule .scd_content_item .scd_content_bottom {font-size: 16px;line-height: 32px;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title{padding-left: 10px;position: relative;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title::before{content: "";position: absolute;width: 3px;height: 3px;top: 50%;left: 0;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);background-color: #000000;}
}
@media (max-width: 1240px) and (min-width: 768px){
    #schedule .scd_content_item .scd_content_item_bg{background-repeat: no-repeat;background-position: left bottom;width: 100%;height: 100%;position: absolute;top:0;left:0;}
    #schedule .scd_content_item .scd_content_top{font-size: 0;position: relative;margin-bottom: 15px;}
    #schedule .scd_content_item .scd_content_top .scd_cotent_day{display: inline-block;vertical-align: top;line-height: 24px;font-size: 20px;font-family: 'NS-B',Sans-Serif;color: #000000;}
    #schedule .scd_content_item .scd_content_top .scd_cotent_day .scd_content_week{line-height: 24px;font-size: 14px;font-family: 'notokr-regular',Sans-Serif;margin-left: 10px;color: #aaaaaa;}
    #schedule .scd_content_item .scd_content_top .scd_content_weather {position: absolute;width: 24px;height: 24px;background-size: contain;background-repeat: no-repeat;right: 0;top: 0;}
    #schedule .scd_content_item .scd_content_bottom {font-size: 14px;line-height: 24px;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title{padding-left: 10px;position: relative;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title::before{content: "";position: absolute;width: 3px;height: 3px;top: 50%;left: 0;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);background-color: #000000;}
}
@media (max-width: 767px){
    #schedule .scd_content .scd_content_item{width: 100%;}
    #schedule .scd_content .scd_content_item .scd_content_top{height: 24px;width: 100%;position: relative;margin-bottom: 20px;}
    #schedule .scd_content .scd_content_item .scd_content_top .scd_cotent_day{display: inline-block;vertical-align: top;line-height: 24px;font-size: 20px;font-family: 'NS-B',Sans-Serif;color: #000000;}
    #schedule .scd_content_item .scd_content_top .scd_cotent_day .scd_content_week{line-height: 24px;font-size: 14px;font-family: 'notokr-regular',Sans-Serif;margin-left: 10px;color: #aaaaaa;}
    #schedule .scd_content_item .scd_content_top .scd_content_weather {position: absolute;width: 24px;height: 24px;background-size: contain;background-repeat: no-repeat;right: 0;top: 0;}
    #schedule .scd_content_item .scd_content_bottom {font-size: 14px;line-height: 60px;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title{width: 100%;-webkit-box-sizing: border-box;box-sizing: border-box;padding-left: 10px;background-color: #f8f8f8;margin-bottom: 10px;position: relative;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
    #schedule .scd_content_item .scd_content_bottom .scd_content_title:last-child{margin-bottom: 0;}

    /* 모바일 상단 */
    #schedule .scd_mcontent{width: 100%;height: 65px;margin-bottom: 30px;position: relative;}
    #schedule .scd_mcontent:before{content: "";position: absolute;width: 100vw;height: 1px;background-color: #e5e5e5;bottom: 0;left: 50%;-webkit-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);transform: translate(-50%, 0);}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper{display: table;table-layout: fixed;width: 100%;height: 100%;position: relative;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box{display: table-cell;height: 100%;text-align: center;position: relative; cursor: pointer;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box .scd_content_item_bg{background-repeat: no-repeat;background-position: left bottom;background-size: contain;width: 100%;height: 90%;position: absolute;bottom:0;left:0;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box .scd_mcontent_week{font-size: 12px;line-height: 12px;margin-top: 13px;margin-bottom: 10px;color: #cccccc;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box .scd_mcontent_day{font-family: 'NS-EB',Sans-Serif;font-size: 20px;line-height: 20px;}

    /*!* 다른일정 감추기 *!*/
    #schedule .scd_content_item:not(.today){display: none;width: 20%;}
}



/* 활성화 시 */
@media (min-width: 1240px){
    #schedule .scd_content .scd_content_list .scd_content_item.today{background-color: #51c2ff;border: none;color: #ffffff;-webkit-box-shadow: 0px 0px 15px #ccc;box-shadow: 0px 0px 15px #ccc;}
    #schedule .scd_content .scd_content_list .scd_content_item.today::before{content: "";position: absolute;top: 0;right: -1px;height: 100%;width: 1px;z-index: 1;background-color: #51c2ff;}
    #schedule .scd_content .scd_content_list .scd_content_item.today .scd_cotent_day, #schedule .scd_content .scd_content_list .scd_content_item.today .scd_content_week{color: #ffffff;}
    
    #schedule .scd_content_item.today .scd_content_bottom .scd_content_title::before{background-color: #ffffff;}
}
@media (max-width: 1240px) and (min-width: 768px){
    #schedule .scd_content .scd_content_list .scd_content_item.today{background-color: #51c2ff;border: none;color: #ffffff;-webkit-box-shadow: 0px 0px 15px #ccc;box-shadow: 0px 0px 15px #ccc;}
    #schedule .scd_content .scd_content_list .scd_content_item.today::before{content: "";position: absolute;top: 0;right: -1px;height: 100%;width: 1px;z-index: 1;background-color: #51c2ff;}
    #schedule .scd_content .scd_content_list .scd_content_item.today .scd_cotent_day, #schedule .scd_content .scd_content_list .scd_content_item.today .scd_content_week{color: #ffffff;}
    
    #schedule .scd_content_item.today .scd_content_bottom .scd_content_title::before{background-color: #ffffff;}
}
@media (max-width: 767px){
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box.today{background-color: #51c2ff;-webkit-box-shadow: 0px 0px 5px #ccc;box-shadow: 0px 0px 5px #ccc;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box.today .scd_mcontent_week{color: #ffffff;}
    #schedule .scd_mcontent .scd_mcontent_box_wrapper .scd_mcontent_box.today .scd_mcontent_day{color: #ffffff;}
}