@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Merienda:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300&display=swap');

#slideShow {
    width: 100%; /* 최대 너비를 지정하여 화면이 너무 커지지 않도록 합니다 */
   
    max-width: 1240px; /* 최대 너비를 지정하여 화면이 너무 커지지 않도록 합니다 */
    justify-content: center;
    margin: auto;
    margin-right: 335px;
    overflow: hidden;
    position: relative;
    right: 40px;
    
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    justify-content: center;
    align-items: center; /* 슬라이드의 내용이 화면을 벗어나는 경우 가려지도록 설정 */
}

#slides > img {
    max-width: 100%; /* 이미지의 최대 너비를 화면 너비에 맞춥니다 */
    height: auto;
    object-fit: cover;
}

#slides > button {
    position: absolute;
    height: 100%;
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent;
    color: #000;
    font-size: 24px;
    opacity: 0.5;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

/* 화면 크기에 따라 슬라이드의 버튼 크기를 조정합니다 */
@media (max-width: 768px) {
    #slides > button {
        padding: 10px;
        font-size: 18px;
    }
}