@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Merienda:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300&display=swap');

.main {
    background-color: skyblue;
    color: white;
    font-size: 43px;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}
#Tree {
 border: 2px solid blue;
 
}