.main {
    background-color: skyblue;
    color: white;
    font-size: 43px;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}
#Tree {
 border: 2px solid blue;
 
}